*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vw;
    width: 100vw;
    font-size: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 10px;
    /* border: 2px solid black; */
    background-color: darkorange;
    color: white;
    background-image: url(./web-design-coding-web-developing-macbook.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    overflow-x: hidden;
}

#container{
    height: 100vw;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* margin-top: 10px; */
}

form{
    padding: 30px;
}

h1, #decoration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#name, #email, #number, #dropdown, #textarea, #submit{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#submit{
    background-color: green;
}
